@import "../../scss/variables";
.home-banner-container {
  .home-banner-text {
    position: relative;
    .home-banner-heading {
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: $color-white;

      .home-banner-heading-text {
        font-family: $font-family-dancing;
        font-size: $heading-font-size;
      }
      .home-banner-sub-text {
        font-size: $secondary-font-size;
        font-family: $font-family-bree;
        margin-bottom: 1.5rem;
      }
    }
    .home-banner-img {
      width: 100%;
      filter: brightness(50%);
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-banner-container {
    .home-banner-text {
      .home-banner-heading {
        .home-banner-heading-text {
          font-size: $secondary-font-size;
        }
        .home-banner-sub-text {
          font-size: $mobile-primary-font-size;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
