// VARIABLES:ubuntu

/*
* FONT SIZES:
*/
$mobile-primary-font-size: 0.75rem;
$primary-font-size: 1rem;
$secondary-font-size: 1.5rem;
$tertiary-font-size: 2rem;
$heading-font-size: 4.5rem;

/*
* FONT FAMILY:
*/

$font-family-bree: "Bree Serif", serif;
$font-family-chakra: "Chakra Petch", sans-serif;
$font-family-dancing: "Dancing Script", cursive;
$font-family-geologica: "Geologica", sans-serif;
$font-family-passion: "Passion One", cursive;
$font-family-ralway: "Raleway", sans-serif;
$font-family-: "Ubuntu", sans-serif;

/*
* FONT WEIGHT:
*/

$font-weight-primary: 500;

/*
* RGB COLOR CODES: 
*/
$color-white: rgb(255, 255, 255);
$color-green: rgb(92, 151, 48);
$color-dark-grey: rgb(77, 79, 72);
